In [1]:
import pandas as pd

In [2]:
data = {
    "Name": ["A", "B", "C", "D", "E"],
    "Age": [18, 21, 20, 19, 22],
    "Marks": [85, 90, 78, 88, 95],
}

df = pd.DataFrame(data)
df

  Name  Age  Marks
0    A   18     85
1    B   21     90
2    C   20     78
3    D   19     88
4    E   22     95

In [4]:
# show first two row
# df.head(2)

In [12]:
# show only names and marks collum
# df[["Name", "Marks"]]

In [13]:
# df[df["Age"] > 20]

In [24]:
# df["Age"].mean()
# df["Age"].max()
m_age= df["Age"].min()
# m_age
m_marks = df["Marks"].min()
m_marks

np.int64(78)