In [33]:
import pandas as pd
import numpy as np
sales = {
    "Product": ["Laptop", "Laptop", "Mouse", "Mouse", "Keyboard"],
    "Price": [800, 850, 20, 25, 40],
    "Quantity": [5, 7, 50, 40, 20],
}
df = pd.DataFrame(sales)
df

    Product  Price  Quantity
0    Laptop    800         5
1    Laptop    850         7
2     Mouse     20        50
3     Mouse     25        40
4  Keyboard     40        20

In [34]:
df.rename(columns={"Price": "Unitprice"})

    Product  Unitprice  Quantity
0    Laptop        800         5
1    Laptop        850         7
2     Mouse         20        50
3     Mouse         25        40
4  Keyboard         40        20

In [35]:
# add total sale collum
df["TotalSale"] = df["Price"] * df["Quantity"]
df

    Product  Price  Quantity  TotalSale
0    Laptop    800         5       4000
1    Laptop    850         7       5950
2     Mouse     20        50       1000
3     Mouse     25        40       1000
4  Keyboard     40        20        800

In [41]:
# total revenue
total_revenue = df["TotalSale"].sum()
avg_price = df["Price"].mean()
highest_revenue_product = df.loc[df["TotalSale"].idxmax(), "Product"]
highest_revenue_product

'Laptop'