In [54]:
import pandas as pd

In [55]:
# get the csv
df = pd.read_csv("IRIS.csv")

In [57]:
# question 1A
df.head(10)
print(df.shape)
print(df.dtypes)
print(df.describe())

(150, 5)
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
# question 1B
# Select only those rows where: 1. petal_length > 4.5, 2. species = "Iris-virginica"
filtered_data = df[(df["petal_length"] > 4.5) & (df["species"] == "Iris-virginica")]
filtered_data

In [58]:
# question 1C
# Group by species and compute: Average sepal_length, Maximum petal_width, Standard deviation of sepal_width

grouped_stats = df.groupby("species").agg({
    "sepal_length": "mean",
    "petal_width": "max",
    "sepal_width": "std"
})
print(grouped_stats)

                 sepal_length  petal_width  sepal_width
species
Iris-setosa             5.006          0.6     0.381024
Iris-versicolor         5.936          1.8     0.313798
Iris-virginica          6.588          2.5     0.322497

In [59]:
# question 1D. 
# Create a new column: "petal_ratio" = petal_length / petal_width
# â€¢ For each species, find the average petal_ratio.
df2 = df.copy()
df2["petal_ratio"] = df["petal_length"] / df["petal_width"]

avg_ratio = df2.groupby("species")["petal_ratio"].mean()
print(avg_ratio)

species
Iris-setosa        7.078000
Iris-versicolor    3.242837
Iris-virginica     2.780662
Name: petal_ratio, dtype: float64

In [ ]:
titanic_df = pd.read_csv("Titanic-Dataset.csv")
titanic_df2 = titanic_df.copy()
titanic_df2.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [ ]:
# question 2A
# Display only columns: Name, Sex, Age, Fare, Survived

new_titanic_tab =titanic_df2[["Name", "Sex", "Age", "Fare", "Survived"]]
new_titanic_tab

In [ ]:
# question 2B. 
# Select passengers who:
# Are female
# Fare > 30
filtered_titanic = titanic_df2[(titanic_df2["Sex"] == "female") & (titanic_df2["Fare"] > 30)]
filtered_titanic

In [ ]:
# question 2C 
# Group by Pclass and compute:
# Survival rate
# Average Fare
# Average Age
titanic_df2.groupby("Pclass").agg(
    Survival_Rate =("Survived", "mean"),
    Avg_Fare = ("Fare", "mean"),
    Avg_age = ("Age", "mean")
)

        Survival_Rate   Avg_Fare    Avg_age
Pclass
1            0.629630  84.154687  38.233441
2            0.472826  20.662183  29.877630
3            0.242363  13.675550  25.140620