In [1]:
import pandas as pd

In [2]:
# series
s = pd.Series([10, 20, 30, 40])

In [3]:
# add names
s.name = "Calories"
s

0    10
1    20
2    30
3    40
Name: Calories, dtype: int64

In [4]:
# data type
s.dtype

dtype('int64')

In [5]:
# check values
s.values

array([10, 20, 30, 40])

In [6]:
# check index.
s.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
# indexing
s[1:3]

1    20
2    30
Name: Calories, dtype: int64

In [8]:
# Common mistake: trying to use slice notation as a literal — this is invalid
# Wrong — this causes SyntaxError: s = [1:5:1]
# Correct options below:

# 1) Slice an existing sequence (works when 's' is already a Series/list/array):
#    subset = s[1:4]

# 2) Create a slice object explicitly and reuse it:
slice_obj = slice(1, 4, 1)
# use it to index an existing sequence (create a short example sequence first):
s_example = pd.Series([10, 20, 30, 40, 50])
subset_from_slice = s_example[slice_obj]

# 3) Create an explicit list of numbers using range() when you want the elements themselves:
explicit_list = list(range(1, 5, 1))  # -> [1, 2, 3, 4]

# Show outputs
s_example, subset_from_slice, explicit_list

(0    10
 1    20
 2    30
 3    40
 4    50
 dtype: int64,
 1    20
 2    30
 3    40
 dtype: int64,
 [1, 2, 3, 4])

In [9]:
# iloc => number location based indexing
s.iloc[[0, 2,3]]
# s.iloc[2]

0    10
2    30
3    40
Name: Calories, dtype: int64

In [10]:
index = ["aam", "jam", "katal", "kola"]
s.index = index
s

aam      10
jam      20
katal    30
kola     40
Name: Calories, dtype: int64

In [11]:
# accesing data with index names
s["aam"]

np.int64(10)

In [12]:
s.iloc[2]

np.int64(30)

In [18]:
# loc -> label based indexing
s.loc["jam"]
# s

np.int64(20)

In [14]:
# in label based indexing our start and end value included
s["jam":"katal"]

jam      20
katal    30
Name: Calories, dtype: int64

In [15]:
fruit_protein = {
    "Guava": 2.6,
    "Avocado": 2.0,
    "Apricot": 1.4,
    "Blackberry": 1.4,
    "Banana": 1.1,
    "Kiwi": 1.1,
    "Cherry": 1.0,
    "Apple": 0.3
}

s_2 = pd.Series(fruit_protein, name="protein")
s_2

Guava         2.6
Avocado       2.0
Apricot       1.4
Blackberry    1.4
Banana        1.1
Kiwi          1.1
Cherry        1.0
Apple         0.3
Name: protein, dtype: float64